<!doctype html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta property="og:title" content="Te entendemos mamá" />
        <meta property="og:image" content="http://teentendemosmama.com/static/images/preview_teentendemosmama.jpg"/>
        <meta property="og:description" content="Envíale un video personalizado a mamá y hazle saber que tú también la entiendes."/>
        <link rel="stylesheet" href="/static/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/css/main.css">
        <link rel="stylesheet" href="/static/css/font-awesome.css">
        <link rel="stylesheet" href="/static/css/APlayer.min.css">
        <link rel="stylesheet" href="/static/css/noty.min.css">
        {% block extrahead %}
        
        {% endblock %}
        <title></title>
    </head>
    <body class="{% block bodyclass %}{% endblock %}">
        <script>
              window.fbAsyncInit = function() {
                FB.init({
                  appId            : '1745552705702740',
                  // appId            : '200455174069436',
                  autoLogAppEvents : true,
                  xfbml            : true,
                  version          : 'v2.12',
                  status           : true
                });
              };

              (function(d, s, id){
                 var js, fjs = d.getElementsByTagName(s)[0];
                 if (d.getElementById(id)) {return;}
                 js = d.createElement(s); js.id = id;
                 js.src = "https://connect.facebook.net/en_US/sdk.js";
                 fjs.parentNode.insertBefore(js, fjs);
               }(document, 'script', 'facebook-jssdk'));
            </script>
        <div class="container">

            <div id="app" style="display:none">
                {% block content %}{% endblock %}
            </div>
            
        </div>
    
    {% block extrafooter %}{% endblock %}

    <script src="/static/js/jquery-3.3.1.min.js"></script>
    <script src="/static/js/noty.min.js"></script>
    <script src="/static/js/popper.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/vue.js"></script>
    <script src="/static/js/vee-validate.js"></script>
    <script src="/static/js/vee-validate-es.js"></script>
    <script src="/static/js/axios.min.js"></script> 
    <script src="/static/js/vue-spinner.min.js"></script>
    <script>
        $(document).ready(function(){
            $("#menu-mobile-icon").on("click", function(){
                $("#menu-mobile").show()
            })
            $(".fa-times").on("click", function(){
                $("#menu-mobile").hide()
            })
            
        })
    </script>
    {% block extrajs %}{% endblock %}
    </body>
</html>