{% extends 'base.html' %}

{% block extrajs %}
<script src="/static/js/app/index.js"> </script>
{% endblock %}

{% block content %}
<div style="margin:0 auto; width:100%;">
    <div class="div-video">
        <video class="video" autoplay loop id="home-video">
            <source src="/static/videos/home.mp4" type="video/mp4">
            
        </video>
        <p class="info-above">Envíale este video personalizado a tu mamá.</p>
        <p class="icon-above"><img src="/static/images/scroll-down.png" class="scroll-down"></img></p>
    </div>
    <div class="mb-3 mt-4  col-md-6 col-lg-4 col-sm-12 offset-md-3 offset-lg-4">
        <div v-if="!loading" :class="{'error':errorsVee.has('name'), 'input-group': true}">
            <input v-model="name" type="text" class="form-control" placeholder="NOMBRE DE TU MAMÁ" data-vv-as="Nombre de mamá" v-validate="'required|alpha'"  data-vv-value-path="value"  data-vv-name="name">
            <div class="input-group-append">
                <button @click="sendVideo" class="btn btn-outline button-send" type="button">CREAR VIDEO</button>
            </div>
        </div>
        <p v-show="errorsVee.has('name')" class="alert">${errorsVee.first('name')}</p>
        <div class="mb-3 mt-4" v-if="loading">
            <beat-loader :loading="true" color="#2E1973" size="25px"></beat-loader>
            <p style="text-align: center;color:#2E1973; font-weight: bold;">CARGANDO...</p>
        </div>
    </div>
    <div class="col-md-12 mt-4">
        <p class="copyright">© 2018 TEENTENDEMOSMAMA.COM | <a target="_blank" href="/static/pdf/terminos.pdf">TÉRMINOS Y CONDICIONES</a></p>
    </div>
</div>

{% endblock %}

