{% extends 'base.html' %}
{% block extrahead %}
    <!-- <meta property="fb:app_id" content="12345"/> -->
    <meta property="og:type" content="Website"/>
    <meta property="og:video" content="{{url}}"/>
    <meta property="og:url" content="{{url_extra}}"/>
{% endblock %}
{% block extrajs %}
<script src="/static/js/app/index.js"> </script>
{% endblock %}

{% block content %}
<div style="margin:0 auto; width:100%;">
    <div id="video-container">
        <button @click="playVideo" class="play-btn"><i class="fas fa-play"></i></button>
        <video class="video" autoplay="autoplay" style="width: 100%;">
            <source src="{{url}}" type="video/mp4">
        </video>
    </div>
    <div class="row" style="margin-top:40px;">
        <div class="col-md-4 col-lg-4 col-sm-12 mb-4 div-email">
            <button type="button" class="btn buttons-send" data-toggle="modal" data-target="#emailModal"><i class="fas fa-envelope" ></i> Compartir por correo</button>
        </div>
        <div class="col-md-4 col-lg-4 col-sm-12 mb-4 div-facebook">
            <button @click="shareFacebook" type="button" class="btn buttons-send"><i class="fab fa-facebook-square"></i> Compartir en facebook</button>
        </div>
        <div class="col-md-4 col-lg-4 col-sm-12 mb-4 div-reset-video">
            <button @click="sendIndex" type="button" class="btn buttons-send"><i class="fas fa-play-circle"></i> Crear nuevo video</button>
        </div>
    </div>
    <div class="col-md-12">
        <p class="copyright">© 2018 TEENTENDEMOSMAMA.COM | <a href="/static/pdf/terminos.pdf">TÉRMINOS Y CONDICIONES</a></p>
    </div>
</div>     
<!-- Modal -->
<div class="modal fade" id="emailModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog" role="document">
    <div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Compartir video por correo</h5>
        <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button> -->
    </div>
    <div class="modal-body">
        <p>Por favor, ingresa tu correo:</p>
        <input type="text" :class="{'error':errorsVee.has('email'), 'form-control': true}" placeholder="correo electrónico" v-model="email" data-vv-as="Correo electrónico" v-validate="'required|email'"  data-vv-value-path="value"  data-vv-name="email">
        <p v-show="errorsVee.has('email')" class="alert">${errorsVee.first('email')}</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-light" v-show="!loadingEmail" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn button-send" @click="sendEmail" v-show="!loadingEmail">Enviar</button>
        <beat-loader v-show="loadingEmail" :loadingEmail="loadingEmail" color="#2E1973" size="20px"></beat-loader>
    </div>
    </div>
</div>
</div>
{% endblock %}
{% block extrafooter %}
<script>
    var url = "{{url}}"
    var url_extra = "{{url_extra}}"
    var name = "{{name}}"
</script>
{% endblock %}

