@font-face {
    font-family: 'lucida_granderegular';
    src: url('/static/fonts/lucidagrande-webfont.woff2') format('woff2'),
         url('/static/fonts/lucidagrande-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
  font-family: 'hind_regularregular';
  src: url('/static/fonts/hind-regular-webfont.woff2') format('woff2'),
       url('/static/fonts/hind-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
    font-family: 'lucida_grandebold';
    src: url('/static/fonts/lucidagrandebold-webfont.woff2') format('woff2'),
         url('/static/fonts/lucidagrandebold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
  font-family: 'hindlight';
  src: url('/static/fonts/hind-light-webfont.woff2') format('woff2'),
       url('/static/fonts/hind-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
body{
  font-family: 'hind_regularregular';
  overflow-x: hidden;
}
.row{
  margin: 0;
}
.video{
    width:100% !important;
    height:auto;
    display:block;
}
.div-video{
  position: relative;
}
.info-above{
  font-family: 'hindlight';
  position: absolute;
  bottom: 40px;
  font-size: 15px;
  left: calc(50% - 135px);
  color: #ced4da;
  letter-spacing: 0.2px;
}
.icon-above{
  font-family: 'hindlight';
  position: absolute;
  bottom: 10px;
  left: calc(50% - 35px);
  height: 40px;
  margin-bottom: 0;
}
@keyframes slidein {
  from {
    margin-top: 10px;
  }

  to {
    margin-top: 0px;
  }
}
.icon-above img{
  height: 40px;
}
.container{
    max-width: 100% !important;
    padding: 0 !important;
}
.form-control:focus{
  border-color: #2E1973;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(43,29,112,.25)
}
.first{
  display: inline-block; 
  text-align: center; 
  width:100%; 
  height:100px;
  margin-top: 40px;
}
.button-send{
  background:#2E1973;
  border-color: #2E1973;
  color: white;
}
.buttons-send{
  border-color: #2E1973;
  background:#2E1973;
  color:white;
}
.modal-header{
  text-align: center;
  display: block !important;
}
.copyright{
  text-align: center;
  color: #afb2b5;
  font-size: 11px;
  word-spacing: 2px;
  letter-spacing: 1px;
}
.btn,
.form-control{
  border-radius: 0 !important;
}
.alert{
  color: red;
  /* display: none; */
  font-size: 13px;
  padding: 0;
  margin-top: 5px;
}
.div-email{
  text-align: right;
}
.div-facebook{
  text-align: center;
}
.div-reset-video{
  text-align: left;
}
.scroll-down{
  animation:slidein 0.6s infinite;
  animation-timing-function:linear;
}
@media (max-width: 1024px) {
  .play-btn{
    top: calc((100% / 2) - 35px) !important;
    left: calc((100% / 2) - 35px);
    width: 700px;
    height: 700px;
  }

  .play-btn i{
      font-size: 2.1em;
  }
}
@media (max-width: 768px) {
	.info-above{
    bottom: 17px;
    font-size: 10px;
    left: calc(50% - 101px);    
  }
  .icon-above{
    bottom: 10px;
    left: calc(50% - 21px);
    height: 20px;
  }
  .icon-above img{
    height: 20px;;
  }
  .div-email,
  .div-facebook,
  .div-reset-video{
    text-align: center;
  }
}
.noty_body{
  text-align: center;
}
.play-btn{
    position: absolute;
    left: calc((100% / 2) - 50px);
    top: calc((100% / 2) - 50px);
    background: white;
    border: none;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    z-index: 9999;
}

.play-btn i{
    font-size: 2.5em;
    margin-left: 10px;
}

#video-container{
  position: relative;
}